@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lusitana);
body {
  background-color: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center; }

.container-header {
  margin: 0;
  padding: 0 15px; }

@media (min-width: 1200px) {
  .container-header {
    max-width: 100%; } }
.menu__header_vital {
  float: left; }

.cd-header__nav a {
  font-size: 18px;
  text-transform: uppercase; }

.menu__header_logo__root {
  padding-top: 20px; }

.menu__header_vital__root {
  min-height: 100px;
  padding: 15px 20px; }

.menu__header_vital a {
  transition: all 0.4s ease-in-out; }

.menu__header_vital a:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 2px;
  content: '';
  transition: all 0.4s ease-in-out;
  background-color: #fff;
  opacity: 0; }

.menu__header_vital a:hover:before {
  opacity: 1;
  transform-origin: left center;
  transform: translateX(-50%); }

.text {
  position: relative; }

.flex-ac {
  margin-left: 60px; }

.subheading {
  position: relative;
  font-size: 28px; }

.subheading--h1::before {
  content: '';
  position: absolute;
  top: 17px;
  left: -4em;
  width: 75px;
  height: 1px;
  background-color: #fff; }

.subheading--header {
  font-size: 85px;
  color: #fff;
  font-weight: 500;
  transform: translateX(0);
  letter-spacing: 1.5px; }

.section-header {
  padding: 80px 0; }

.theme--light {
  background-color: #fff; }

.heading__b {
  position: relative;
  font-size: 68px;
  margin: 0.2em 0 0.8em;
  letter-spacing: 1.5px; }

.heading__b::before {
  content: '';
  display: inline-block;
  position: relative;
  bottom: 22px;
  width: 76px;
  height: 1px;
  background-color: #000;
  margin-right: 20px; }

.heading__c::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 20px;
  left: -113px;
  width: 76px;
  height: 1px;
  background-color: #000; }

.heading__c {
  position: relative;
  font-size: 40px;
  margin-bottom: 40px; }

.subheading--h3 {
  font-size: 16px; }

.heading__section {
  text-align: left;
  animation-name: opacity;
  animation-duration: 4s; }

.column__header {
  padding-left: 70px;
  padding-top: 20px; }

.column__paragraph {
  padding-top: 20px;
  padding-right: 70px; }

.paragraph {
  padding: 50px 0;
  font-family: "Larsseit-Light",sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: left; }

.btn--text {
  border: 0;
  padding: 0;
  margin-top: 48px;
  color: #000; }

.icon-arrow-right {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("images/icon-arrow-right.png"); }

.gallery-image__item:hover img {
  transform: scale(1.1); }

.gallery-image__item img {
  transition: all 0.5s linear; }

.flex-a-c {
  justify-content: flex-end; }

.article__image {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  height: 640px; }

.article__with-tags .background-image-article {
  transition: all 0.8s linear; }

.article__with-tags:hover .background-image-article {
  transform: scale(0.9); }

.background-image-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center; }

.article__image img {
  display: none; }

.image__borders {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.block-pad-top-bot {
  padding-left: 140px;
  padding-top: 50px; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
a {
  cursor: pointer;
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

h3 {
  color: #000; }

p {
  color: #000; }

.menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .menu .burger-menu-item {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 48px; }

.menu-toggle {
  opacity: 1;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 35px;
  right: 30px;
  border: none;
  width: 36px;
  height: 20px;
  outline: none;
  transition: opacity 0.2s ease-out; }
  .menu-toggle:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, white, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out; }
  .menu-toggle:after {
    opacity: 0;
    content: '×';
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out; }
  .menu-toggle:active {
    transform: translateY(2px); }
  .menu-toggle:hover {
    transform: translate3d(0, 0, 0) scaleX(1); }
  .open .menu-toggle {
    opacity: 1; }
    .open .menu-toggle:before {
      opacity: 0;
      width: 0; }
    .open .menu-toggle:after {
      opacity: 1;
      transform: translate3d(0, 0, 0) rotate(360deg);
      transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out; }

.burger-menu {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden; }
  .burger-menu:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden; }
  .open .burger-menu {
    top: 0; }
    .open .burger-menu:before {
      animation: menu-animation 0.8s ease-out forwards; }

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  backface-visibility: hidden;
  perspective: 1000;
  color: white; }
  ul.menu .burger-menu-item {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0); }
    ul.menu .burger-menu-item:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      left: auto;
      background-color: white;
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 0.14s ease-out; }
    ul.menu .burger-menu-item:after {
      opacity: 0;
      content: attr(data-text);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      color: #000;
      overflow: hidden;
      transform: translate(-24px, 6px);
      transition: transform 0.1s ease-out, opacity 0.1s ease-out; }
    ul.menu .burger-menu-item:hover:before {
      left: 0;
      right: auto;
      width: 100%; }
    ul.menu .burger-menu-item:hover:after {
      opacity: 1;
      padding: 0 20px;
      transform: translate(0px, 6px);
      transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out; }
    .open ul.menu .burger-menu-item {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
      .open ul.menu .burger-menu-item:nth-child(1) {
        transition-delay: 0.75s; }
      .open ul.menu .burger-menu-item:nth-child(2) {
        transition-delay: 0.85s; }
      .open ul.menu .burger-menu-item:nth-child(3) {
        transition-delay: 0.95s; }
      .open ul.menu .burger-menu-item:nth-child(4) {
        transition-delay: 1.05s; }

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out; }
  .open article {
    transform: scale(0.92);
    transition: transform 0.2s 0.41s ease-out; }

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%); }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out; }
  40% {
    transform: scale(0.04) translateY(0); }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px); }
  61% {
    transform: scale(0.04); }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%; }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0; } }

/*# sourceMappingURL=app.css.map */
