a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}
h3 {
	color: #000;
}
p {
	color: #000;
}
input {
	background-color: transparent;
    padding: 12px 16px;
    font-size: 16px;
    border: 0;
    color: #000;
}
@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Light.ttf');
	// font-weight: normal;
	// font-style: normal;
}
@font-face {
	font-family: 'PrintClearly';
	src: url('../fonts/PrintClearly_TT.ttf');
	// font-weight: normal;
	// font-style: normal;
}

p {
	font-family:'PrintClearly_TT';
}