.container-header
{
    margin: 0;
    padding: 0 15px;
}

@media (min-width: 1200px)
{
    .container
    {
        max-width: 100%;
    }
}

.menu__header_vital
{
    float: left;

}

.cd-header__nav a
{
    font-size: 18px;

    text-transform: uppercase;
}
.menu__header_logo__root {
	padding-top: 20px;
 }

.menu__header_vital__root
{
    min-height: 100px;
    padding: 15px 20px;
}
.menu__header_vital a {

	transition: all 0.4s ease-in-out;
}

.menu__header_vital a:before
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 10px;
    height: 2px;

    content: '';
    transition: all 0.4s ease-in-out;
    background-color: #fff;

    opacity:0;
}

.menu__header_vital a:hover:before {
	opacity: 1;
}
.text {
    position: relative;
}
.flex-ac {
    margin-left: 60px
}

.subheading {
    position: relative;
    font-size: 28px;
}

.subheading::before {
    content:'';
    position: absolute;
    top: 17px;
    left: -4em;
    width: 75px;
    height: 1px;
    background-color: #fff;
}

.subheading--h1 {
    font-size: 85px;
    color: #fff;
    font-weight: 500;
    transform: translateX(0);
    letter-spacing: 1.5px;
}
